<div class="jumbotron w-50 mx-auto">
  <%= form_for @instructor, html: {class: "nifty_form"} do |f| %>
  
    <%= render "layouts/error", object: @instructor, as: 'object' %>
  
    <%= label_tag :name %>
    <%= f.text_field :name , :placeholder => "Name" ,  :class => "form-control" %>
    
    <%= label_tag :email , nil , :class => "mt-4" %>
    <%= f.text_field :email , :placeholder => "Unique Email" , :class => "form-control" %>
    
    <% if params[:action] == "edit" %>
      <%= render "layouts/confirm_update", object: @instructor, as: 'object' %>
      
      <%= f.submit :id => "create", :class => "btn btn-primary mt-4" %>
      
    <% end %>
  <% end %>
</div>